---
---
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
  <link rel="shortcut icon" type="image/png" href="/favicon-32x32.png" />
  <title>{{ page.title }} {{ site.title }}</title>
  <script src="/events.js" defer></script>
</head>

<body>
  <div class="container-lg px-3 my-5">
    <nav>
      <a href="/">Home</a> | 
      <a href="/events">Events</a> | 
      <a href="/about">About</a> | 
      <a href="/openings">Role Openings</a> | 
      <a href="/survey">2022 Member Survey</a>
    </nav>
    {{ content }}
    <footer>
      <p>KAPS loves you 😍, and so does your halmoni</p>
    </footer>
  </div>
</body>

</html>